body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

#cookie {
    cursor: pointer;
    width: 150px;  /* Adjust the width */
    height: 150px; /* Adjust the height */
}
