<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Clicker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='main.css') }}">
    <style>
        body {
            background-color: {{ background_color }};
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Cookie Clicker</h1>
        <p>Click the cookie!</p>
        <form action="{{ url_for('click') }}" method="post">
            <button type="submit" id="cookie">
                <img src="{{ url_for('static', filename='cook.jpg') }}" alt="Cookie">
            </button>
        </form>
        <p>Clicks: <span>{{ click_count }}</span></p>
        {% if click_count >= 20 %}
            <form action="{{ url_for('change_color') }}" method="post">
                <button type="submit">Want to change your background to a cool color?</button>
            </form>
        {% endif %}
        <form action="{{ url_for('reset') }}" method="post">
            <button type="submit">Reset</button>
        </form>
    </div>
</body>
</html>
